body{
    border: solid 1px #000000;
    background-image: url(img/63087147_9551817.jpg);
    background-position: absolute;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    border: solid 1px #fda4f8;
    border-radius: 10px;
    backdrop-filter: blur(10px) brightness(80%);
    overflow: hidden;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.pass{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.forgot{
    font-size: 12px;
    font-weight: lighter;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #ffffffbe;
}
.forgot a{
    text-decoration: none;
    color: #ffffff;
    padding-left: 90px;
    font-weight: bold;
    font-style: italic;
}
.register-link{
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    opacity: 90%;
}
.register-link a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
}
#box input{
    width: 300px;
    height: 30px;
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 5px;

}
.log{
    border-radius: 20px;
    padding: 9px;
    width: 165px;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.log:hover{
    transition: transform 0.5s ease-in-out;
    background-image: linear-gradient(45deg, #2f59ff, #e32d2d);
    -webkit-background-clip: text;
    font-size: 20px;
    color: transparent;
    
}
.button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    margin-bottom: 58px;
    border: solid 0.5px #000000;
    border-radius: 0px 0px 20px 20px;
    backdrop-filter: blur(10px);
    background-color: #181717;
    color: #ffffff;
    border-color: rgb(192, 131, 184);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.7);
}